#tile-info {
  position: absolute;
  z-index: 200;
  top: 5px;
  right: 5px;
  width: 40px;
  background-color: rgba(168, 162, 245, .7);
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);

  #game.move-ui &{
    bottom: 5px;
    top: auto;
  }
}

.tile-header {
  font-size: 10px;
  color: #fff;
  text-shadow:
   -.3px -.3px 0 #000,
    .3px -.3px 0 #000,
    -.3px .3px 0 #000,
     .3px .3px 0 #000;
  margin: 0;
  line-height: 1;
  padding: 5px 0;
}

.tile-data {
  background-color: rgba(247, 246, 183, 1.00);
  padding: 1px 2px;
}

.tile-heading {
  color: #bceff6;
  font-weight: bold;
  text-shadow:
   -.3px -.3px 0 #000,
    .3px -.3px 0 #000,
    -.3px .3px 0 #000,
     .3px .3px 0 #000;
  font-size: 8px;
  line-height: 1;
  margin: 0;
  padding: 2px 0 0;
  text-align: left;
  clear: both;
}

.tile-number {
  text-align: right;
  color: #000;
  font-size: 9px;
  line-height: 1;
  text-shadow: none;
  float: right;
}
