#user-menu {
  background-color: #595bbd;
  border: 1px solid white;
  bottom: 5px;
  color: white;
  font-size: 9px;
  max-height: 70px;
  position: absolute;
  right: 5px;
  width: 50px;
  z-index: 200;
}

.option {
  line-height: 1.2;
  margin: 1px auto;
  outline: none;
  padding: 0 2px;
  width: 80%;

  &:focus {
    background-color: #7974ed;
  }

  &.active {
    background-color: #7974ed;
  }
}

.option-list {
  line-height: 1;
  margin: 0;
  padding: 2px;
}
