.lyn {
  @keyframes lyn {
    0% {
      background-position-y: -171px;
    }
    10% {
      background-position-y: -203px;
    }
    50% {
      background-position-y: -235px;
    }
    60% {
      background-position-y: -203px;
    }
    100% {
      background-position-y: -171px;
    }
  }

  background-image: url('../../../assets/images/overworld/overworld-characters-clean.png');
  background-position: -189px -171px;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 70;
  animation-name: lyn;
  animation-duration: 1.7s;
  animation-timing-function: step-start, step-end;
  animation-iteration-count: infinite;
}

.bandit {
  @keyframes bandit {
    0% {
      background-position-x: 0px;
    }
    10% {
      background-position-x: -23px;
    }
    50% {
      background-position-x: -46px;
    }
    60% {
      background-position-x: -23px;
    }
    100% {
      background-position-x: 0;
    }
  }

  background-image: url('../../../assets/images/animations/enemy/brigand-clean.png');
  background-position: 0px -230px;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 70;
  animation-name: bandit;
  animation-duration: 1.7s;
  animation-timing-function: step-start, step-end;
  animation-iteration-count: infinite;
}
