body {
  margin: 0;
  padding: 0;
  position: relative;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 240px;
  height: 160px;
  position: relative;
  transform-origin: 0 0;
}

#map0 {
  background-image: url('./assets/images/background/bg-map-1.png');
  image-rendering: -moz-crisp-edges;         /* Firefox */
   image-rendering:   -o-crisp-edges;         /* Opera */
   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
   image-rendering: crisp-edges;
   -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-position: 0 0;
   background-repeat: no-repeat;
}

img, div, section {
  image-rendering: -moz-crisp-edges;         /* Firefox */
   image-rendering:   -o-crisp-edges;         /* Opera */
   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
   image-rendering: crisp-edges;
   -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

#grid {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.ui-menu {
  background-color: #595bbd;
  border: 1px solid white;
  color: white;
  font-size: 9px;
}

.ui-top-right {
  right: 5px;
  top: 5px;
  position: absolute;
  z-index: 200;
}

.ui-bottom-right {
  bottom: 5px;
  right: 5px;
  position: absolute;
  z-index: 200;
}

.ui-top-left {
  top: 5px;
  left: 5px;
  position: absolute;
  z-index: 200;
}

.ui-bottom-left {
  bottom: 5px;
  left: 5px;
  position: absolute;
  z-index: 200;
}

.center {
  text-align: center;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

.half {
  float: left;
  width: 45%;
  margin: 0;
  padding: 2px;
  vertical-align: top;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.item {
  background-image: url('./assets/images/items/item-icons-clean.png');
  height: 16px;
  width: 16px;
}
